a[href*="mail.google.com"], a[href*="accounts.google.com"], a[aria-label="Google-apps"], a[aria-label="Søg efter billeder (åbner en ny fane)"] {
  display: none !important;
}

/* Hide "translate this page" */
div.eFM0qc.BCF2pd {
    display: none;
}

/* Hide "Google is available on x language" */
div#SIvCob {
    display: none;
}

/* Hide bottom navbar */
div.o3j99.c93Gbe {
    display: none;
}

/* Hide keyboard icon */
div.Umvnrc {
    display: none;
}

div.FPdoLc.lJ9FBc {
    display: none;
}
